<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Bite!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
</head>
<body>

<header>
    <h1 id="title">Find a Bite</h1>
    <p class="top">
        <a href="#" class="links">Login/Sign-up</a>
    </p>
    <p class="top">
        <a href="#" class="links">My Bites</a>
    </p>
</header>

<main id="questionnaire">
    <form action="data" id="mainForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <!--
        <ul id="newReq">
            <li class="categories">
                <label for="cuisine">Cuisine: </label><br>
                    <input type="text" id="cuisine" name="cuisine">
            </li>
            <li class="categories">
                <label for="distance">Distance Away (Miles): </label><br>
                    <input type="text" id="distance" name="distance">
            </li>
            <li class="categories">
                <label for="price">Price Range (Dollars): </label><br>
                    <input type="text" id="price" name="price">
            <li class="categories">
                <label for="rating">Rating: </label><br>
                    <input type="text" id="rating" name="rating">
            </li>
            <li>
                <button type="submit">Find a bite</button>
            </li>
        </ul>
    -->
    <button type="submit">Find a bite</button>
    </form>
</main>
</body>
</html>