<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a Bite!</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href='{% static 'app/style.css' %} ? {% now "U" %}'>
</head>
<body>

<header>
    <h1 id="title">Find a Bite</h1>
    <p class="top">
        <a href="#" class="links">Login/Sign-up</a>
    </p>
    <p class="top">
        <a href="#" class="links">My Bites</a>
    </p>
</header>

<main id="questionnaire">
    <form action="data" id="mainForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Find a bite</button>
    </form>

    <h3></h3>
</main>
</body>
</html>